.link {
    text-decoration: none;
    color: #000;
    margin: 0 0 0 20px;
}
.link:hover {
    color: rgb(40, 40, 40);

}
.link:active {
    text-decoration: underline;
    color: rgb(40, 40, 40);
}
/*.custom-collapse {*/
/*    flex-basis: 100%;*/
/*    flex-grow: 1;*/
/*    align-items: center;*/
/*    width: 100%;*/
/*}*/

